body{
    background-color: #344e41;
}

.cim {
    color: #dad7cd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lablec {
    background-color: #588157;
    color: #dad7cd;
    display: flex;
    width: 100%;
}

